* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.container {
    max-width: 1560px;
}

/* ayon paul start / 25.06.2024 */

.code {
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: green;
}

.code-cont-form {
    margin-top: 2rem;
}

.otp_main p {
    padding-top: 2rem;
}

.otp_main h2 {
    font-size: 6rem;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1;
}

.code:valid {
    border: 1px solid green;
    box-shadow: 0 0 5px green;  
}